# Django
DEBUG=True
SECRET_KEY='^+!+nuu710@$)vnqdilsg&2q471#n7szcxxv8-=&xp!c+bau#-'
STATIC_URL=/static/
MEDIA_URL=/media/
ALLOWED_HOSTS=dev.portfolio.com,dev.api.portfolio.com
COOKIE_DOMAIN=.portfolio.com
ADMIN_EMAIL=

# Site
SITE_URL=http://dev.portfolio.com/

# API
API_URL=http://dev.api.portfolio.com/

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=portfolio
DATABASE_URL=psql://postgres:postgres@postgres:5432/portfolio
